.upload-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* 水平居中 */
  justify-content: center; /* 垂直居中 */
  height: 100vh; /* 设置容器高度为视口的100%，使容器占据整个视口 */
  gap: 20px; /* 设置容器内子元素之间的间隔 */
  margin-left: 10px;
}
/* .search-bar-container {
  margin-top: 150px;
  width:60%;
} */

.items_container{
  width: 60%;
  height: 100%;
  margin-right: 20px;
  margin-left: 64px;
  margin-top: 0px;
  display: flex;
  flex-direction: column; /* 设置主轴方向为垂直（从上到下） */
}

.add_container{
  width: 40%;
  height: 100%;
  margin-left: 10px;
} 

/* .show-goods-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
} */

.upload-goods-container {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
}

.upload-container input,
.upload-container button {
  margin-bottom: 10px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  /* background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

label {
  width: '150px';
  display: 'flex';
  align-items: left;
  margin-right: 10px;
}