.search-bar {
    width: 100%;
    /* max-width: 400px; */
    /* max-height: 100px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}
 
.search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    transition: background-color 0.3s ease-in-out;
}
 
.search-bar input:focus {
    outline: none;
    background-color: #ffffff;
}
 
.search-icon {
    font-size: 1.2rem;
    margin-right: 10px;
    color: #6cc24a;
}

h1 {
    font-size: 0.8rem;
    /* color: #323754; */
    /* margin: 10px 0; */
    text-align: center;
}