.add-clothes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .chunk {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
  }
  
  .chunk label {
    margin-bottom: 5px;
  }
  
  .chunk input,
  .chunk select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .upload-button {
    background-color: #323754;
    color: white;
    border: none;
    padding: 10px 20px;
    /* margin-bottom: 20px; */
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 350px; /* 设置最大宽度 */
    height: 220px;
    margin: 0 auto; /* 水平居中 */
    padding: 20px; /* 设置内边距 */
    border: 1px solid #ccc; /* 添加边框 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 图片适应容器大小，保持原始比例 */
  }
  
  .select-button {
    border: none;
    background-color: #7c858d;
    color: white;
    border-radius: 5px;
    padding: 5px 13px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: small;
  }
  